<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>生鲜码盒可溯源生鲜</title>
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <!-- Template CSS -->
    <link rel="stylesheet" href="/static/css/style-starter.css">
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">
</head>
<style>
    p {
        text-indent: 2em;
    }
</style>

<body id="home">
    <section class=" w3l-header-4 header-sticky">
        <header class="absolute-top">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <h1><a class="navbar-brand" href="/index/"> <span class="fa fa-pagelines" aria-hidden="true"></span>
                            生鲜码盒可溯源生鲜
                        </a></h1>
                    <button class="navbar-toggler bg-gradient collapsed" type="button" data-toggle="collapse"
                        data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="fa icon-expand fa-bars"></span>
                        <span class="fa icon-close fa-times"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav  ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/index/">返回主页 <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/index/about/">关于我们</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/index/services/">相关服务</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/index/contact/">联系我们</a>
                            </li>
                        </ul>
                        <a href="/login/" class="ml-lg-3 mt-lg-0 mt-3 book btn btn-style">开始使用</a>
                    </div>
            </div>

            </nav>
            </div>
        </header>
    </section>

    <script src="/static/js/jquery-3.3.1.min.js"></script> <!-- Common jquery plugin -->
    <!--bootstrap working-->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- //bootstrap working-->
    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <!-- disable body scroll which navbar is in active -->

    <!-- breadcrumbs -->
    <section class="w3l-inner-banner-main">
        <div class="about-inner about editContent">
            <div class="container">
                <div class="main-titles-head ">
                    <h3 class="header-name editContent">
                        关于我们
                    </h3>
                    <p class="tiltle-para editContent ">我们是生鲜码盒可溯源生鲜，让您的健康有迹可循</p>
                </div>
                <div class="breadcrumbs-sub">
                    <ul class="breadcrumbs-custom-path">
                        <li class="right-side propClone"><a href="/index/" class="editContent">Home <span
                                    class="fa fa-angle-right" aria-hidden="true"></span></a>
                            <p>
                        </li>
                        <li class="active editContent">About</li>
                    </ul>
                </div>
            </div>

        </div>

        </div>
    </section>
    <!-- breadcrumbs //-->
    <section class="w3l-content-with-photo-4" id="about">
        <div class="content-with-photo4-block editContent">
            <div class="container">
                <div class="cwp4-two row">
                    <div class="cwp4-image col-xl-6">
                        <img src="/static/images/b3.jpg" alt="product" class="img-responsive about-me">
                    </div>
                    <div class="cwp4-text col-xl-6 ">
                        <div class="posivtion-grid">
                            <h6 class="sub-title">About Us</h6>
                            <h3 class="editContent">We Are Best For Your Foods Partners</h3>
                            <p class="para editContent">在源头上严格筛选上游供应商，与上游优质种养殖基地深化合作，
                                搭建战略合作平台，建立严格的食品追溯查询系统。全面提升仓库作业效率、精准分拣高效配送。
                                针对不同品类生鲜农产品的存储都有严格的温度把控和标准规范的运行配送，以降低食品腐损率、
                                提高冷链流通率和冷藏运输效率为目标，真正实现“最后一公里保障”,在每个环节上为食品安全把好关。
                                既要正面解决食品安全的终端问题，又要为消费者贴心护航，层层保障，打造企业核心竞争力和独特价值。
                            </p>
                            <a href="/index/about/" class="action-button btn mt-3">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <section class="w3l-about ">
        <div class="skills-bars editContent counter-width ">
            <div class="container">
                <div class="nature-bars">
                    <h3>我们的团队</h3>
                    <div class="link-list-menu">
                        <p>卓越、诚信、有远见的生鲜码盒可溯源生鲜领导团队</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="w3l-team-main-6" id="team">
        <!-- /team-grids -->
        <div class="team-content-page editContent text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-1 col-md-6 col-sm-6 team-team"></div>
                    <div class="col-lg-2 col-md-6 col-sm-6 team-team">
                        <div class="our-team">
                            <a href="#page">
                                <img src="/static/images/t1.jpg" alt="product" class="img-responsive ">
                                <div class="team-content">
                                    <h3 class="name"><a href="#page">林学涛</a></h3>
                                    <span class="post"><a href="#page">采购</a< /span>
                                        </a>
                                        <div class="social-teams">
                                            <a href="#" class="facebook"><span class="fa fa-facebook"></span></a>
                                            <a href="#" class="twitter"><span class="fa fa-twitter"></span></a>
                                            <a href="#" class="pinterest"><span class="fa fa-pinterest"></span></a>
                                        </div>
                                </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6 team-team">
                        <div class="our-team">
                            <a href="#page">
                                <img src="/static/images/t2.jpg" alt="product" class="img-responsive ">
                                <div class="team-content">
                                    <h3 class="name"><a href="#page">于禄洋</a></h3>
                                    <span class="post"><a href="#page">物流</a< /span>
                                        </a>
                                        <div class="social-teams">
                                            <a href="#" class="facebook"><span class="fa fa-facebook"></span></a>
                                            <a href="#" class="twitter"><span class="fa fa-twitter"></span></a>
                                            <a href="#" class="pinterest"><span class="fa fa-pinterest"></span></a>
                                        </div>
                                </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6 team-team">
                        <div class="our-team">
                            <a href="#page">
                                <img src="/static/images/t3.jpg" alt="product" class="img-responsive ">
                                <div class="team-content">
                                    <h3 class="name"><a href="#page">王心童</a></h3>
                                    <span class="post"><a href="#page">仓库</a< /span>
                                        </a>
                                        <div class="social-teams">
                                            <a href="#" class="facebook"><span class="fa fa-facebook"></span></a>
                                            <a href="#" class="twitter"><span class="fa fa-twitter"></span></a>
                                            <a href="#" class="pinterest"><span class="fa fa-pinterest"></span></a>
                                        </div>
                                </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6 team-team">
                        <div class="our-team">
                            <a href="#page">
                                <img src="/static/images/t4.jpg" alt="product">
                                <div class="team-content">
                                    <h3 class="name"><a href="#page">于合乐</a></h3>
                                    <span class="post"><a href="#page">销售</a< /span>
                                        </a>
                                        <div class="social-teams">
                                            <a href="#" class="facebook"><span class="fa fa-facebook"></span></a>
                                            <a href="#" class="twitter"><span class="fa fa-twitter"></span></a>
                                            <a href="#" class="pinterest"><span class="fa fa-pinterest"></span></a>
                                        </div>
                                </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6 team-team">
                        <div class="our-team">
                            <a href="#page">
                                <img src="/static/images/t5.jpg" alt="product" class="img-responsive ">
                                <div class="team-content">
                                    <h3 class="name"><a href="#page">董言嵚</a></h3>
                                    <span class="post"><a href="#page">售后</a< /span>
                                        </a>
                                        <div class="social-teams">
                                            <a href="#" class="facebook"><span class="fa fa-facebook"></span></a>
                                            <a href="#" class="twitter"><span class="fa fa-twitter"></span></a>
                                            <a href="#" class="pinterest"><span class="fa fa-pinterest"></span></a>
                                        </div>
                                </div>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-6 col-sm-6 team-team"></div>
                </div>
            </div>
        </div>
        </div>
        <!-- /team-grids -->
    </section>
    <section class="w3l-footer-29-main">
        <div class="footer-29 py-5">
            <div class="container">
                <div class="row footer-top-29">
                    <div class="col-lg-5 col-md-5 col-sm-6 footer-list-29 footer-1">
                        <div class="left-side">
                            <h2><a href="index.html" class="footer-logo">生鲜码盒可溯源生鲜</a></h2>
                            <p class="para">在源头上严格筛选上游供应商，与上游优质种养殖基地深化合作，
                                搭建战略合作平台，建立严格的食品追溯查询系统。全面提升仓库作业效率、精准分拣高效配送。
                                针对不同品类生鲜农产品的存储都有严格的温度把控和标准规范的运行配送，以降低食品腐损率、
                                提高冷链流通率和冷藏运输效率为目标，真正实现“最后一公里保障”,在每个环节上为食品安全把好关。
                                既要正面解决食品安全的终端问题，又要为消费者贴心护航，层层保障，打造企业核心竞争力和独特价值。</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 footer-list-29 footer-2 ">

                        <ul>
                            <h6 class="footer-title-29">相关链接</h6>
                            <li><a href="index.html">返回主页</a></li>
                            <li><a href="about.html">关于我们</a></li>
                            <li><a href="services.html">相关服务</a></li>
                            <li><a href="/index/contact/">联系我们</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 footer-list-29 footer-3">
                        <h6 class="footer-title-29">Latest from blog</h6>
                        <div class="footer-post mb-3">
                            <a href="#page">
                                <img src="/static/images/f1.jpg" class="img-responsive" alt=""></a>
                            <div>
                                <a href="#page">How to Eat Organic Foods</a>
                                <p class="small"><span class="fa fa-clock-o"></span> March 9, 2020</p>
                            </div>
                        </div>
                        <div class="footer-post">
                            <a href="#page">
                                <img src="/static/images/f2.jpg" class="img-responsive" alt="">
                            </a>
                            <div>
                                <a href="#page">How to Eat Organic Foods</a>
                                <p class="small"><span class="fa fa-clock-o"></span> March 9, 2020</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <section class="w3l-footer-29-main w3l-copyright">
        <div class="container">
            <div class=" bottom-copies text-center">
                <p class="copy-footer-29">
                    © 2022 生鲜码盒可溯源生鲜. All rights reserved | Designed by
                    <a>被信息系统设计了小组</a>
                </p>
            </div>
        </div>
    </section>
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fa fa-long-arrow-up"></span>
    </button>
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <!-- /move top -->
</body>

</html>