<!DOCTYPE html>

<html lang="en">

<head>
    <title>生鲜码盒用户登录系统</title>
    <!-- Meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords"
        content="Gadget Sign Up Form Responsive Widget, Audio and Video players, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
    <script>
        addEventListener("load", function () { setTimeout(hideURLbar, 0); }, false); function hideURLbar() { window.scrollTo(0, 1); }
    </script>
    <!-- Meta tags -->
    <!-- font-awesome icons -
    ->
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <!--stylesheets-->
    <link href="/static/css/style.css" rel='stylesheet' type='text/css' media="all">
    <!--//style sheet end here-->
    <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
</head>

{% if messages %}
<script type="text/jscript">
    {% for msg in messages %}
    alert('{{ msg.message }}');
    {% endfor %}
</script>
{% endif %}

<body>


    <h1 class="error">
        <a class="navbar-brand" href="/index/"> <span class="fa fa-pagelines" aria-hidden="true"></span>
            生鲜码盒可溯源生鲜
        </a>
    </h1>
    <!---728x90--->
    <div class="w3layouts-two-grids">
        <!---728x90--->
        <div class="mid-class">
            <div class="img-right-side">
                <h3>Start Right Now!</h3>
                <h3>Manage the health and safety of your food</h3>
                <p class="para editContent">在源头上严格筛选上游供应商，与上游优质种养殖基地深化合作，
                    搭建战略合作平台，建立严格的食品追溯查询系统。全面提升仓库作业效率、精准分拣高效配送。
                    针对不同品类生鲜农产品的存储都有严格的温度把控和标准规范的运行配送，以降低食品腐损率、
                    提高冷链流通率和冷藏运输效率为目标，真正实现“最后一公里保障”,在每个环节上为食品安全把好关。
                    既要正面解决食品安全的终端问题，又要为消费者贴心护航，层层保障。</p>
                <img src="/static/images/b11.png" class="img-fluid" alt="">
            </div>
            <div class="txt-left-side">
                <h2> 员工登录通道 </h2>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-left-to-w3l">
                        <span class="fa fa-envelope-o" aria-hidden="true"></span>
                        <input type="email" name="email" placeholder="Email" required="">

                        <div class="clear"></div>
                    </div>
                    <div class="form-left-to-w3l">
                        <span class="fa fa-lock" aria-hidden="true"></span>
                        <input type="text" id="passwd" name="password" placeholder="Password" required="">

                        <div class="clear"></div>
                    </div>
                    <div class="main-two-w3ls">
                        <div class="left-side-forget">
                            <input type="checkbox" class="checked">
                            <span class="remenber-me">Remember me</span>
                        </div>
                        <div class="right-side-forget">
                            <a href="#" class="for">Forgot password...?</a>
                        </div>
                    </div>
                    <div class="btnn">
                        <button type="submit">Sign In</button>
                    </div>
                </form>
                <div class="w3layouts_more-buttn">
                    <h3>Don't Have an account..?
                        <a href="/innerlogin/innerregister/">Log Up Here</a>
                    </h3>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <!---728x90--->
    <p>
        © 2022 生鲜码盒可溯源生鲜. All Rights Reserved | Design by
        <a href="/innerlogin/">被信息系统设计了小组</a>
    </p>
</body>
<script language="JavaScript">
    function demo() {
        var tp = document.all["passwd"];
        //tp.setAttribute("type","text");     //ok1
        //tp.type="text";           //ok2
        var rd = document.all["rd"];
        if (rd.checked) {
            tp.type = "text";
        } else {
            tp.type = "password";
        }
    }
</script>
</html>