
<!--
   Author: W3layouts
   Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Bio Crop a Agriculture  Category Responsive Web Template | About :: W3layouts</title>

    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/style-starter.css">
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">
  </head>
  <body id="home">
<section class=" w3l-header-4 header-sticky">
    <header class="absolute-top">
        <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <h1><a class="navbar-brand" href="index.html"> <span class="fa fa-pagelines" aria-hidden="true"></span>
         Bio Crop
            </a></h1>
            <button class="navbar-toggler bg-gradient collapsed" type="button" data-toggle="collapse"
                data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="fa icon-expand fa-bars"></span>
				<span class="fa icon-close fa-times"></span>
            </button>
      
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav  ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About</a>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link" href="services.html">Services</a>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact</a>
                    </li>
                </ul>
                <a href="#" class="ml-lg-3 mt-lg-0 mt-3 book btn btn-style">Get started</a>
            </div>
        </div>

        </nav>
    </div>
      </header>
</section>

<script src="assets/js/jquery-3.3.1.min.js"></script> <!-- Common jquery plugin -->
<!--bootstrap working-->
<script src="assets/js/bootstrap.min.js"></script>
<!-- //bootstrap working-->
<!-- disable body scroll which navbar is in active -->
<script>
$(function () {
  $('.navbar-toggler').click(function () {
    $('body').toggleClass('noscroll');
  })
});
</script>
<!-- disable body scroll which navbar is in active -->

<!-- breadcrumbs -->
    <section class="w3l-inner-banner-main">
        <div class="about-inner about editContent">
            <div class="container">   
                <div class="main-titles-head ">
                <h3 class="header-name editContent">
					About Us
                </h3>
                <p class="tiltle-para editContent ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic fuga sit illo modi aut aspernatur tempore laboriosam saepe dolores eveniet.</p>
            </div>
            <div class="breadcrumbs-sub">
                <ul class="breadcrumbs-custom-path">
                    <li class="right-side propClone"><a href="index.html" class="editContent">Home <span class="fa fa-angle-right" aria-hidden="true"></span></a> <p></li>
                    <li class="active editContent">About</li>
                </ul>
            </div>
</div>

   </div>

        </div>
    </section>
<!-- breadcrumbs //-->
<section class="w3l-content-with-photo-4"  id="about">
    <div class="content-with-photo4-block editContent">
        <div class="container">
            <div class="cwp4-two row">
            <div class="cwp4-image col-xl-6">
                <img src="assets/images/b3.jpg" alt="product" class="img-responsive about-me">
            </div>
                <div class="cwp4-text col-xl-6 ">
                    <div class="posivtion-grid">
                        <h6 class="sub-title">About Us</h6>
                    <h3 class="editContent">We Are Best For Your Foods Partners</h3>
                    <p class="para editContent">Mollitia placeat modi explicabo voluptatum 
                         adipisci Quisquam exercit tionem praesentium suscipit.unde Dicta in uaerat Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident vel iusto illo laboriosam ut neque. Vel unde sint error placeat. Alias modi molestias blanditiis aspernatur? Ex iusto nam ipsum aliquam.
</p>
<a href="about.html" class="action-button btn mt-3">Read more</a>
        </div>
        </div>
    </div>
</div>
</section>
<section class="w3l-about ">
      <div class="skills-bars editContent counter-width ">
            <div class="container">
              <div class="nature-bars">
              <h3>Farm, Garden and Agriculture</h3>
              <div class="link-list-menu">
                <p>Consectetur adipiscing elit. Aliquam auctor Sed bibendum varius euismod. </p>
              </div>
              <a href="about.html" class="action-button btn mt-3">Read more</a>
            </div>
            </div>
      </div>
</section>
<section class="w3l-recent-work">
	<div class="jst-two-col">
		<div class="container">
<div class="row">

	<div class="my-bio col-xl-6">
		<h3>Our Experience</h3>
	<p class="para mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit.inventore deleniti dolore sequi labore similique vitae quae est.</p>
		<div class="details-details">
			<div class="my-bar-grids">
				<h4>Product Purity<span> 80% </span></h4>

				<div class="progress">
					<div class="progress-bar progress-bar-striped bg-color" role="progressbar" style="width: 80% ;height:.3rem;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" div="">
					</div>
				</div>
			</div>
			<div class="my-bar-grids">
				<h4>Farmers Competence<span> 60% </span></h4>

				<div class="progress">
					<div class="progress-bar progress-bar-striped bg-color" role="progressbar" style="width: 60% ;height:.3rem;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" div="">
					</div>
				</div>
			</div>
			<div class="my-bar-grids">
				<h4>Equipment<span> 70% </span></h4>

				<div class="progress">
					<div class="progress-bar progress-bar-striped bg-color" role="progressbar" style="width: 70% ;height:.3rem;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" div="">
					</div>
				</div>
			</div>
			<div class="my-bar-grids">
				<h4>Satisfied Customers<span> 60% </span></h4>

				<div class="progress">
					<div class="progress-bar progress-bar-striped bg-color" role="progressbar" style="width: 60% ;height:.3rem;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" div="">
					</div>
				</div>
			</div>
		</div>
</div>
<div class="col-xl-6 ">
	<img src="assets/images/b4.jpg" alt="product" class="img-responsive about-me">
</div>
</div>
		</div>
	</div>
</section>
<section class="w3l-team-main-6" id="team">
	<!-- /team-grids -->
	<div class="team-content-page editContent text-center">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6 team-team">
					<div class="our-team">
					  <a href="#page">
					  <img src="assets/images/t1.jpg" alt="product" class="img-responsive ">
					  <div class="team-content">
						<h3 class="name"><a href="#page">Kellie Smith</a></h3>
						<span class="post"><a href="#page">Food Production</a</span>
					  </a>
					  <div class="social-teams">
						<a href="#" class="facebook"><span class="fa fa-facebook"></span></a>
						<a href="#" class="twitter"><span class="fa fa-twitter"></span></a>
						<a href="#" class="pinterest"><span class="fa fa-pinterest"></span></a>
					</div>
					  </div>
					</div>
				  </div>
				<div class="col-lg-3 col-md-6 col-sm-6 team-team">
				  <div class="our-team">
					<a href="#page">
					<img src="assets/images/t2.jpg" alt="product" class="img-responsive ">
					<div class="team-content">
					  <h3 class="name"><a href="#page">Max Willson</a></h3>
					  <span class="post"><a href="#page">Stocker</a</span>
					</a>
					<div class="social-teams">
						<a href="#" class="facebook"><span class="fa fa-facebook"></span></a>
						<a href="#" class="twitter"><span class="fa fa-twitter"></span></a>
						<a href="#" class="pinterest"><span class="fa fa-pinterest"></span></a>
					</div>
					</div>
					</div>
				  </div>
				<div class="col-lg-3 col-md-6 col-sm-6 team-team">
					<div class="our-team">
					  <a href="#page">
					  <img src="assets/images/t3.jpg" alt="product" class="img-responsive ">
					  <div class="team-content">
						<h3 class="name"><a href="#page">Jack Smith</a></h3>
						<span class="post"><a href="#page">Warehouse</a</span>
					  </a>
					  <div class="social-teams">
						<a href="#" class="facebook"><span class="fa fa-facebook"></span></a>
						<a href="#" class="twitter"><span class="fa fa-twitter"></span></a>
						<a href="#" class="pinterest"><span class="fa fa-pinterest"></span></a>
					</div>
					  </div>
					</div>
				  </div>
				  <div class="col-lg-3 col-md-6 col-sm-6 team-team">
					<div class="our-team">
					  <a href="#page">
					  <img src="assets/images/t4.jpg" alt="product" class="img-responsive ">
					  <div class="team-content">
						<h3 class="name"><a href="#page">Sam Deos</a></h3>
						<span class="post"><a href="#page">Manager</a</span>
					  </a>
					  <div class="social-teams">
						<a href="#" class="facebook"><span class="fa fa-facebook"></span></a>
						<a href="#" class="twitter"><span class="fa fa-twitter"></span></a>
						<a href="#" class="pinterest"><span class="fa fa-pinterest"></span></a>
					</div>
					  </div>
					</div>
				  </div>
				</div>
			  </div>
		</div>
	</div>
	<!-- /team-grids -->
</section>
<section class="w3l-footer-29-main">
	<div class="footer-29 py-5">
	  <div class="container">
		<div class="row footer-top-29">
		  <div class="col-lg-5 col-md-5 col-sm-6 footer-list-29 footer-1">
			<div class="left-side">
				<h2><a href="index.html" class="footer-logo">Bio Crop</a></h2>
				<p class="para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe qui repellat nam vero consectetur dicta eos suscipit. Numquam at minus architecto asperiores cupiditate. At molestias laborum voluptatibus numquam aperiam in.</p>
			</div>
		  </div>
		  <div class="col-lg-3 col-md-3 col-sm-6 footer-list-29 footer-2 ">
  
			<ul>
			  <h6 class="footer-title-29">Useful Links</h6>
			  <li><a href="index.html">Home</a></li>
			  <li><a href="about.html">About</a></li>
			  <li><a href="services.html">Services</a></li>
			  
			  <li><a href="contact.html">Contact us</a></li>
			</ul>
		  </div>
		  <div class="col-lg-4 col-md-4 col-sm-6 footer-list-29 footer-3">
			  <h6 class="footer-title-29">Latest from blog</h6>
			  <div class="footer-post mb-3">
				<a href="#page"> 
					<img src="assets/images/f1.jpg" class="img-responsive" alt=""></a>
					<div>
				<a href="#page">How to Eat Organic Foods</a>
				<p class="small"><span class="fa fa-clock-o"></span> March 9, 2020</p>
			</div>
			  </div>
			  <div class="footer-post">
				<a href="#page"> 
					<img src="assets/images/f2.jpg" class="img-responsive" alt="">
				</a>
					<div>
				<a href="#page">How to Eat Organic Foods</a>
				<p class="small"><span class="fa fa-clock-o"></span> March 9, 2020</p>
			  </div>
			</div>
		  </div>
		</div>
	</div>
  </section>
  <section class="w3l-footer-29-main w3l-copyright">
	<div class="container">
	  <div class=" bottom-copies text-center">
		<p class="copy-footer-29">© 2020 Bio Crop. All rights reserved | Designed by <a href="https://w3layouts.com">W3layouts</a></p>
	  </div>
	</div>
  </section>
<!-- move top -->
<button onclick="topFunction()" id="movetop" title="Go to top">
	<span class="fa fa-long-arrow-up"></span>
</button>
<script>
	// When the user scrolls down 20px from the top of the document, show the button
	window.onscroll = function () {
		scrollFunction()
	};

	function scrollFunction() {
		if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
			document.getElementById("movetop").style.display = "block";
		} else {
			document.getElementById("movetop").style.display = "none";
		}
	}

	// When the user clicks on the button, scroll to the top of the document
	function topFunction() {
		document.body.scrollTop = 0;
		document.documentElement.scrollTop = 0;
	}
</script>
<!-- /move top -->
</body>

</html>

