<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>生鲜码盒可溯源生鲜-采购部-采购订单管理-更新采购订单</title>
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <!-- Bootstrap Styles-->
    <link href="/static/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="/static/css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="/static/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="/static/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <!--加个渲染-->
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
</head>

{% if messages %}
<script type="text/jscript">
    {% for msg in messages %}
    alert('{{ msg.message }}');
    {% endfor %}
</script>
{% endif %}

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/work/purchase"><i class="fa fa-pagelines"></i> <strong>返回主页</strong></a>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="/userinfo/"><i class="fa fa-user fa-fw"></i>个人信息</a>
                        </li>
                        <li><a href=""><i class="fa fa-gear fa-fw"></i>设置</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="/index/"><i class="fa fa-sign-out fa-fw"></i>登出</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>

        </nav>

        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">

            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <li>
                        <a class="menu"><i class="fa fa-address-card"></i>供应商信息管理</a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/work/purchase/manage_supplierinfo">查看供应商信息</a>
                            </li>
                            <li>
                                <a href="/work/purchase/manage_supplierinfo/add">添加供应商信息</a>
                            </li>
                            <li>
                                <a href="/work/purchase/manage_supplierinfo/update">更新供应商信息</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a class="active-menu" ><i class="fa fa-check-square"></i>采购订单信息管理</a>
                        <ul class="nav nav-second-level in">
                            <li>
                                <a href="/work/purchase/make_purchase">查看采购订单</a>
                            </li>
                            <li>
                                <a href="/work/purchase/make_purchase/add">添加采购订单</a>
                            </li>
                            <li>
                                <a class="active-menu" href="/work/purchase/make_purchase/update">更新采购订单</a>

                            </li>
                        </ul>
                    </li>

					<li>
                        <a><i class="fa fa-tasks"></i>采购需求管理</a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/work/purchase/purchase_demand">查看采购需求</a>
                            </li>
                        </ul>
                    </li>

                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <!-- /. ROW  -->

		        <form class="form-horizontal" role="form" action="" method="post">
                    <h2>更新采购订单信息</h2>
                    <h4></h4>

                    <div class="form-group">
                        <h4>
                            <span class="fa fa-circle-o" aria-hidden="true"> 订单编号：</span>
                            <input type="text" name="purchase_id" placeholder="采购订单编号" required="" style="width:1000px;height:35px">
                        </h4>
                        <div class="clear"></div>
                    </div>

                    <div class="form-group">
                        <h4>
                            <span class="fa fa-barcode" aria-hidden="true"> 商品名称：</span>
                            <input type="text" name="product_name" placeholder="商品名称" required="" style="width:1000px;height:35px">
                        </h4>
                        <div class="clear"></div>
                    </div>

                    <div class="form-group">
                        <h4>
                            <span class="fa fa-bookmark" aria-hidden="true"> 商品类型：</span>
                            <input type="text" name="product_type" placeholder="商品类型" required="" style="width:1000px;height:35px">
                        </h4>
                        <div class="clear"></div>
                    </div>

                    <div class="form-group ">
                        <h4>
                            <span class="fa fa-calculator" aria-hidden="true"> 采购数量：</span>
                            <input type="number" name="purchase_num" placeholder="采购数量" required="" style="width:1000px;height:35px">
                        </h4>
                        <div class="clear"></div>
                    </div>

                    <div class="form-group ">
                        <h4>
                            <span class="fa fa-home" aria-hidden="true"> 供 货 商 ：</span>
                            <input type="text" name="supplier_name" placeholder="供货商" required="" style="width:1000px;height:35px">
                        </h4>
                        <div class="clear"></div>
                    </div>

                    <div class="form-group ">
                        <h4>
                            <span class="fa fa-calendar" aria-hidden="true"> 采购时间：</span>
                            <input type="date" name="purchase_time" placeholder="采购时间" required="" style="width:1000px;height:35px">
                        </h4>
                        <div class="clear"></div>
                    </div>

                    <div class="form-group ">
                        <h4>
                            <span class="fa fa-handshake-o" aria-hidden="true"> 采购价格：</span>
                            <input type="number" name="purchase_price" placeholder="采购价格" required="" style="width:1000px;height:35px">
                        </h4>
                        <div class="clear"></div>
                    </div>

                    <div class="form-group ">
                        <h4>
                            <span class="fa fa-globe" aria-hidden="true"> 产品来源：</span>
                            <input type="text" name="product_root" placeholder="产品来源" style="width:1000px;height:35px">
                        </h4>
                        <div class="clear"></div>
                    </div>

                    <div class="btn">
                        <div class="col-sm-offset-8">
                            <h3>
                            <button type="submit" class="fa fa-check btn btn-primary" style="width:150px;height:40px"> 确认</button>
                            </h3>
                        </div>
                    </div>
                </form>

            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="/static/js/jquery-1.10.2.js"></script>
    <!-- Bootstrap Js -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Metis Menu Js -->
    <script src="/static/js/jquery.metisMenu.js"></script>
    <!-- Morris Chart Js -->
    <script src="/static/js/morris/raphael-2.1.0.min.js"></script>
    <script src="/static/js/morris/morris.js"></script>


	<script src="/static/js/easypiechart.js"></script>
	<script src="/static/js/easypiechart-data.js"></script>


    <!-- Custom Js -->
    <script src="/static/js/custom-scripts.js"></script>
    </div>>
</body>


</html>
