{% extends 'base.html' %}
<meta charset="utf-8"/>
{% block center_body %}

    <div class="main_con clearfix">
        <div class="left_menu_con clearfix">
            <h3>用户中心</h3>
            <ul>
                <li><a href="{% url "df_user:info" %}">· 个人信息</a></li>
                <li><a href="{% url "df_user:order" 1 %}" class="active">· 全部订单</a></li>
                <li><a href="{% url "df_user:site" %}">· 收货地址</a></li>
            </ul>
        </div>

        <div class="right_content clearfix">

            <h4>订单运输过程溯源</h4>

            <div class="site_con">
                <table class="order_list_table w980">
                    <thead>


                    <tr>
                        <th>order_time</th>
                        <th>driver</th>
                        <th>car_id</th>
                        <th>cold_chain</th>
                        <th>province</th>
                        <th>city</th>
                        <th>detail_time</th>

                    </tr>

                    </thead>
                    <tbody>
                    <tr>{# 示例数据 #}

                        <td>order_time</td>
                        <td>driver</td>
                        <td>car_id</td>
                        <td>cold_chain</td>
                        <td>province</td>
                        <td>city</td>
                        <td>detail_time</td>

                    </tr>
                    {% for delivery_detail in trace_info.deliver_details_order_list %}
                        <tr>{# 示例数据 #}
                            <td>{{ trace_info.order_time }}</td>
                            <td>{{ trace_info.driver }}</td>
                            <td>{{ trace_info.car_id }}</td>
                            <td>{{ trace_info.cold_chain }}</td>
                            <td>{{ deliver_detail.province }}</td>
                            <td>{{ deliver_detail.city }}</td>
                            <td>{{ deliver_detail.detail_time }}</td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            {#            {% for order_detail_info in trace_info.order_details_info_dic_list %}#}

            <h4>采购入库过程溯源:{{ order_detail_info.product_name }}商品种类</h4>
            <h5>采购运输</h5>
{#            {% for purchase in order_detail_info.purchase %}#}
                <div class="site_con">
                    <table class="order_list_table w980">
                        <thead>
                        <tr>
                            <th>product_root</th>
                            <th>supplier_name</th>
                            <th>supplier_add</th>
                            <th>car_id</th>
                            <th>cold_chain</th>
                            <th>driver_name</th>
                            <th>province</th>
                            <th>city</th>
                            <th>time</th>

                        </tr>

                        </thead>
                        <tbody>
                        <tr>
                            <td>product_root</td>
                            <td>supplier_name</td>
                            <td>supplier_add</td>
                            <td>car_id</td>
                            <td>cold_chain</td>
                            <td>driver_name</td>
                            <td>province</td>
                            <td>city</td>
                            <td>time</td>

                        </tr>
{#                        {% for deliver_purchase in purchase.deliver_purchase_purchase_list %} #}
                        <tr>{# 此处的数据库查询我不是很清楚 #}
                            <td>{{ purchase.product_root }}</td>
                            <td>{{ purchase.supplier_name }}</td>
                            <td>{{ purchase.supplier_add }}</td>
                            <td>{{ purchase.car_id }}</td>
                            <td>{{ purchase.cold_chain }}</td>
                            <td>{{ purchase.driver_name }}</td>
                            <td>{{ deliver_purchase.province }}</td>
                            <td>{{ deliver_purchase.city }}</td>
                            <td>{{ deliver_purchase.time}}</td>
                        </tr>
{#                        {% endfor %}#}
                        </tbody>
                    </table>
                </div>

{#            {% endfor %}#}

            <h5>入库</h5>
            <div class="site_con">
                <table class="order_list_table w980">
                    <thead>
                    <tr>

                        <th>in_time</th>

                    </tr>

                    </thead>
                    <tbody>
                    <tr>{# 示例 #}
                        <td>in_time</td>
                    </tr>
                    {% for time in order_detail_info.in_time %}
                        <tr>
                            <td>{{ time }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <h5>出库</h5>
            <div class="site_con">
                <table class="order_list_table w980">
                    <thead>
                    <tr>
                        <th>out_time</th>
                    </tr>

                    </thead>
                    <tbody>
                    <tr>
                        <td>out_time</td>

                    </tr>
                    {% for time in order_detail_info.out_time %}
                        <tr>
                            <td>{{ time }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>


            {#          {% endfor %}#}

        </div>
    </div>
    {#  #}
    <div class="right_content clearfix">


        <div class="pagenation">
            {% if page.has_previous %}
                <a href="{% url "df_user:order" page.previous_page_number %}">上一页</a>
            {% endif %}

            {% for index in paginator.page_range %}
                {% if index == page.number %}
                    <a href="{% url "df_user:order" index %}" class="active">{{ index }}</a>
                {% else %}
                    <a href="{% url "df_user:order" index %}">{{ index }}</a>
                {% endif %}
            {% endfor %}

            {% if page.has_next %}
                <a href="{% url "df_user:order" page.next_page_number %}">下一页></a>
            {% endif %}
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
                $('.col04').each(function () {
                        count = $(this).prev().text();
                        price = $(this).prev().prev().find('.good_price').text();
                        $(this).html(parseFloat(count, 2) * parseFloat(price, 2) + '元');
                    }
                )
            }
        )

    </script>

{% endblock center_body %}
