{% extends 'base.html' %}
<meta charset="utf-8"/>
{% block center_body %}

    <div class="main_con clearfix">
        <div class="left_menu_con clearfix">
            <h3>用户中心</h3>
            <ul>
                <li><a href="{% url "df_user:info" %}">· 个人信息</a></li>
                <li><a href="{% url "df_user:order" 1 %}" class="active">· 全部订单</a></li>
                <li><a href="{% url "df_user:site" %}">· 收货地址</a></li>
            </ul>
        </div>

        <div class="right_content clearfix">

            <h3 class="common_title" >订单运输过程溯源</h3>
            <h5 style="margin:10px auto 0">订单运输基础信息</h5>
            <div class="site_con">
                <table class="order_list_table w980">
                    <thead>


                    <tr>
                        <th>下单时间</th>
                        <th>司机姓名</th>
                        <th>运输车编号</th>
                        <th>冷链级别</th>

                    </tr>

                    </thead>
                    <tbody>


                        <tr>{# 示例数据 #}
                            <td>{{ trace_info.order_time }}</td>
                            <td>{{ trace_info.driver_name }}</td>
                            <td>{{ trace_info.car_id }}</td>
                            <td>{{ trace_info.cold_chain }}</td>

                        </tr>

                    </tbody>
                </table>
            </div>
            <h5>运输过程</h5>

            <div class="site_con">
                <table class="order_list_table w980">
                    <thead>


                    <tr>

                        <th>途径省份</th>
                        <th>途径城市</th>
                        <th>时间节点</th>

                    </tr>

                    </thead>
                    <tbody>

                    {% for delivery_detail in trace_info.deliver_details_order_list %}
                        <tr>{# 示例数据 #}
                            <td>{{ delivery_detail.province }}</td>
                            <td>{{ delivery_detail.city }}</td>
                            <td>{{ delivery_detail.time }}</td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
<h4 class="common_title">采购入库过程溯源</h4>
 {% for order_detail_info in trace_info.order_details_info_dic_list %}

            <h5 class="common_title2">商品名称: {{ order_detail_info.product_name }} </h5>

 {% for d_purchase in order_detail_info.purchase %}
            <h5>采购运输基础信息</h5>
                <div class="site_con">
                    <table class="order_list_table w980">
                        <thead>
                        <tr>
                            <th >产品根源</th>
                            <th>供应商姓名</th>
                            <th>供应商地址</th>


                        </tr>

                        </thead>
                        <tbody>

                        <tr>{# 此处的数据库查询我不是很清楚 #}
                            <td >{{ d_purchase.product_root }}</td>
                            <td>{{ d_purchase.supplier_name }}</td>
                            <td>{{ d_purchase.supplier_add }}</td>

                        </tr>

                        </tbody>
                    </table>
                    <table class="order_list_table w980">
                        <thead>
                        <tr>
                            <th>运输车编号</th>
                            <th>冷链级别</th>
                            <th>司机姓名</th>
                            <th>入库时间</th>
                            <th>出库时间</th>

                        </tr>

                        </thead>
                        <tbody>

                        <tr>{# 此处的数据库查询我不是很清楚 #}

                            <td>{{ d_purchase.car_id }}</td>
                            <td>{{ d_purchase.cold_chain }}</td>
                            <td>{{ d_purchase.driver_name }}</td>
                            <td>{{ d_purchase.in_time }}</td>
                             <td>{{ d_purchase.out_time }}</td>
                        </tr>

                        </tbody>
                    </table>
                </div>

            <h5>运输过程</h5>
<div class="site_con">
                    <table class="order_list_table w980">
                        <thead>
                        <tr>
                            <th>途径省份</th>
                            <th>途径城市</th>
                            <th>时间节点</th>

                        </tr>

                        </thead>
                        <tbody>
                      {% for deliver_purchase in d_purchase.deliver_details_purchase_list %}
                        <tr>{# 此处的数据库查询我不是很清楚 #}
                            <td>{{ deliver_purchase.province }}</td>
                            <td>{{ deliver_purchase.city }}</td>
                            <td>{{ deliver_purchase.time}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
           {% endfor %}




                    {% endfor %}

        </div>
    </div>
    {#  #}
    <div class="right_content clearfix">


        <div class="pagenation">
            {% if page.has_previous %}
                <a href="{% url "df_user:order" page.previous_page_number %}">上一页</a>
            {% endif %}

            {% for index in paginator.page_range %}
                {% if index == page.number %}
                    <a href="{% url "df_user:order" index %}" class="active">{{ index }}</a>
                {% else %}
                    <a href="{% url "df_user:order" index %}">{{ index }}</a>
                {% endif %}
            {% endfor %}

            {% if page.has_next %}
                <a href="{% url "df_user:order" page.next_page_number %}">下一页></a>
            {% endif %}
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
                $('.col04').each(function () {
                        count = $(this).prev().text();
                        price = $(this).prev().prev().find('.good_price').text();
                        $(this).html(parseFloat(count, 2) * parseFloat(price, 2) + '元');
                    }
                )
            }
        )

    </script>

{% endblock center_body %}
