{% extends 'base.html' %}
<meta charset="utf-8"/>
{% block center_body %}

    <div class="main_con clearfix">
        <div class="left_menu_con clearfix">
            <h3>用户中心</h3>
            <ul>
                <li><a href="{% url "df_user:info" %}">· 个人信息</a></li>
                <li><a href="{% url "df_user:order" 1 %}" class="active">· 全部订单</a></li>
                <li><a href="{% url "df_user:site" %}">· 收货地址</a></li>
            </ul>
        </div>

        <div class="right_content clearfix">

            <h4>订单运输过程溯源</h4>


            <table class="table table-striped table-bordered table-hover">
                <thead>


                <tr>
                    <th width="20%">car_id</th>
                    <th width="20%">cold_chain</th>
                    <th width="20%">province</th>
                    <th width="20%">city</th>
                    <th width="20%">detail_time</th>
                </tr>

                </thead>
                <tbody>
                <tr>{# 示例数据 #}
                    <td width="20%">car_id</td>
                    <td width="20%">cold_chain</td>
                    <td width="20%">province</td>
                    <td width="20%">city</td>
                    <td width="20%">detail_time</td>

                </tr>
                {% for delivery_detail in deliver_details_order %}
                    <tr>{# 示例数据 #}
                        <td width="20%">{{ car_for_deliver_order.car_id }}</td>
                        <td width="20%">{{ car_for_deliver_order.cold_chain }}</td>
                        <td width="20%">{{ delivery_detail.province }}</td>
                        <td width="20%">{{ delivery_detail.city }}</td>
                        <td width="20%">{{ delivery_detail.detail_time }}</td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>


            {% for order_detail_info in order_details_set %}
                {# 考虑到前段不可过滤，此处的order_details_set应当作为一个后端整合后的的关于order_detail 的所有信息，即元素是 order_detail_info 的一个列表#}
               {# order_detail_info = {order_detail_id: ,product_id: ,supplier_id: ,supplier_add: ,order_detail_deliverys:[{ car_id,:... 具体参见采购运输的表头},{},{}] #}
                {# (接上字典) inward_time: ,outward_time: ,order_detail_name(这一项是这个商品的名字)： } #}
                <h4>采购入库过程溯源:{{ order_detail_info.order_detail_id }}商品种类</h4>
                <h5>采购</h5>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <div class="form-left-to-w3l ">
                            <th>product_root</th>
                            <th>supplier_name</th>
                            <th>supplier_add</th>
                        </div>
                    </tr>

                    </thead>
                    <tbody>
                    <tr>
                        <td>product_root</td>
                        <td>supplier_name</td>
                        <td>supplier_add</td>

                    </tr>
                    <tr>{# 此处的数据库查询我不是很清楚 #}
                        <td>{{ order_detail_info.product_root }}</td>
                        <td>{{ order_detail_info.supplier_name }}</td>
                        <td>{{ order_detail_info.supplier_add }}</td>

                    </tr>
                    </tbody>
                </table>
                <h5>采购运输</h5>
                <table class="table table-striped table-bordered table-hover">
                    <thead>


                    <tr>
                        <th width="20%">car_id</th>
                        <th width="20%">cold_chain</th>
                        <th width="20%">province</th>
                        <th width="20%">city</th>
                        <th width="20%">detail_time</th>
                    </tr>

                    </thead>
                    <tbody>
                    <tr>{# 示例数据 #}
                        <td width="20%">car_id</td>
                        <td width="20%">cold_chain</td>
                        <td width="20%">province</td>
                        <td width="20%">city</td>
                        <td width="20%">detail_time</td>

                    </tr>
                    {% for detail_delivery in order_detail_info.order_detail_deliverys %}{# 这里的order_detail_deliverys应当放在 #}
                         <tr>{# 示例数据 #}
                        <td width="20%">{{ detail_delivery.car_id }}</td>
                        <td width="20%">{{ detail_delivery.cold_chain }}</td>
                        <td width="20%">{{ detail_delivery.province }}</td>
                        <td width="20%">{{ detail_delivery.city }}</td>
                        <td width="20%">{{ detail_delivery.detail_time }}</td>

                    </tr>
                    {% endfor  %}
                    </tbody>
                </table>
                <h5>入库</h5>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <div class="form-left-to-w3l ">
                            <th>in_time</th>
                            <th>order_detail_name</th>
                        </div>
                    </tr>

                    </thead>
                    <tbody>
                    <tr>
                        <td>in_time</td>
                        <td>order_detail_name</td>


                    </tr>
                    <tr>
                        <td>{{ order_detail_info.inward_time }}</td>
                        <td>{{ order_detail_info.order_detail_name }}</td>


                    </tr>
                    </tbody>
                </table>
                <h5>出库</h5>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <div class="form-left-to-w3l ">
                            <th>out_time</th>
                            <th>order_detail_name</th>

                        </div>
                    </tr>

                    </thead>
                    <tbody>
                    <tr>
                        <td>out_time</td>
                        <td>order_detail_name</td>


                    </tr>
                    <tr>
                        <td>{{ order_detail_info.outward_time }}</td>
                        <td>{{ order_detail_info.order_detail_name }}</td>


                    </tr>
                    </tbody>
                </table>

            {% endfor %}

        </div>
    </div>
    {#  #}
    <div class="right_content clearfix">


        <div class="pagenation">
            {% if page.has_previous %}
                <a href="{% url "df_user:order" page.previous_page_number %}">上一页</a>
            {% endif %}

            {% for index in paginator.page_range %}
                {% if index == page.number %}
                    <a href="{% url "df_user:order" index %}" class="active">{{ index }}</a>
                {% else %}
                    <a href="{% url "df_user:order" index %}">{{ index }}</a>
                {% endif %}
            {% endfor %}

            {% if page.has_next %}
                <a href="{% url "df_user:order" page.next_page_number %}">下一页></a>
            {% endif %}
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
                $('.col04').each(function () {
                        count = $(this).prev().text();
                        price = $(this).prev().prev().find('.good_price').text();
                        $(this).html(parseFloat(count, 2) * parseFloat(price, 2) + '元');
                    }
                )
            }
        )

    </script>

{% endblock center_body %}
