{% extends 'base.html' %}
<meta charset="utf-8"/>
{% block center_body %}

    <div class="main_con clearfix">
        <div class="left_menu_con clearfix">
            <h3>用户中心</h3>
            <ul>
                <li><a href="{% url "df_user:info" %}">· 个人信息</a></li>
                <li><a href="{% url "df_user:order" 1 %}" class="active">· 全部订单</a></li>
                <li><a href="{% url "df_user:site" %}">· 收货地址</a></li>

            </ul>
        </div>
        <div class="right_content clearfix">
            <h3 class="common_title2">全部订单</h3>

            <div class="site_con">
                      <table class="order_list_table w980">
                <thead>
                <tr>
                    <div class="form-left-to-w3l ">
                        <th width="50%">订单编号</th>
                        <th width="25%">溯源查询</th>
                        <th width="25%">售后申请</th>

                    </div>
                </tr>

                </thead>
                <tbody>

                {% for i in orders_list %}
                <form action="" method="post">
                    {% csrf_token %}
                    <tr>

                        <td>

                            <input type="text" name="order_id"  readonly required=""
                                    value={{ i.order_id }}
                                   style=" border: #FFFFFF " align="center">
                            <div class="clear"></div>

                        </td>

                        <td>
                            <button type="submit" name="search_order_trace">一键溯源</button>
                        </td>
                        <td>
                            <button type="submit" name="aftermarket">售后申请</button>
                        </td>
                    </tr>
                </form>
                                {% endfor %}

                </tbody>
            </table>
            </div>



            <div class="pagenation">
                {% if page.has_previous %}
                    <a href="{% url "df_user:order" page.previous_page_number %}">上一页</a>
                {% endif %}

                {% for index in paginator.page_range %}
                    {% if index == page.number %}
                        <a href="{% url "df_user:order" index %}" class="active">{{ index }}</a>
                    {% else %}
                        <a href="{% url "df_user:order" index %}">{{ index }}</a>
                    {% endif %}
                {% endfor %}

                {% if page.has_next %}
                    <a href="{% url "df_user:order" page.next_page_number %}">下一页></a>
                {% endif %}
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
                $('.col04').each(function () {
                        count = $(this).prev().text();
                        price = $(this).prev().prev().find('.good_price').text();
                        $(this).html(parseFloat(count, 2) * parseFloat(price, 2) + '元');
                    }
                )
            }
        )

    </script>

{% endblock center_body %}
